#
# btwifi-daemon.config.example
#
# Edit this file then save as download-station.config
# If using Git add this to your .gitignore file:
# 	'$ echo btwifi-daemon.config >> .gitignore'

# login details for BTWiFi
USERNAME="person"
PASSWORD="password"
